[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.0"
django = "==3.2.5"
pytz = "==2021.1"
sqlparse = "==0.4.1"
django-ckeditor = "*"
django-widget-tweaks = "*"
django-crispy-forms = "*"
django-select2 = "*"
tzlocal = "*"
django-redis = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
